In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from causalimpact import CausalImpact

### Approach by DD

link = https://www.youtube.com/watch?v=J7q2H8aB8bQ

In [36]:
values = {0:["Miguel",    40, 0, 0],
          2:["Julia",     80, 1, 1],
          3:["Davi",      20, 0, 0],
          4:["Sophia",   100, 1, 1],
          5:["Gabriel",   30, 0, 0],
          6:["Isabella",   0, 1, 0],
          7:["Arthur",    60, 0, 1],
          8:["Manuela",   40, 1, 0],
          9:["Lucas",     60, 0, 1],
          10:["Giovana",  90, 0, 1],
         }
db = pd.DataFrame.from_dict(values, orient="index", columns=["Name", "y", "Dtr", "Dpost"])
db["DTrXDpost"] = db["Dtr"] * db["Dpost"]
X = db[["Dtr", "Dpost", "DTrXDpost"]]
X = sm.add_constant(X, prepend=False)
y = db["y"]
print(db)

        Name    y  Dtr  Dpost  DTrXDpost
0     Miguel   40    0      0          0
2      Julia   80    1      1          1
3       Davi   20    0      0          0
4     Sophia  100    1      1          1
5    Gabriel   30    0      0          0
6   Isabella    0    1      0          0
7     Arthur   60    0      1          0
8    Manuela   40    1      0          0
9      Lucas   60    0      1          0
10   Giovana   90    0      1          0

In [58]:
mod = sm.OLS(y, X, hasconst=True)
res = mod.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.803
Model:                            OLS   Adj. R-squared:                  0.705
Method:                 Least Squares   F-statistic:                     8.178
Date:                Sun, 01 Mar 2020   Prob (F-statistic):             0.0153
Time:                        20:39:05   Log-Likelihood:                -40.154
No. Observations:                  10   AIC:                             88.31
Df Residuals:                       6   BIC:                             89.52
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Dtr          -10.0000     15.811     -0.632      0.550     -48.689      28.689
Dpost         40.0000     14.142      2.828      0.030       5.395      74.605
DTrXDpost     30.0000     22.361      1.342      0.228     -24.715      84.715
const         30.0000     10.000      3.000      0.024       5.531      54.469
==============================================================================
Omnibus:                        1.732   Durbin-Watson:                   2.278
Prob(Omnibus):                  0.421   Jarque-Bera (JB):                0.844
Skew:                           0.248   Prob(JB):                        0.656
Kurtosis:                       1.667   Cond. No.                         6.41
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [71]:
print("The DiD is", round(res.params["DTrXDpost"],2))

The DiD is 30.0

In [4]:
fp = "~/Documents/my_documents/courses/complete_machine_learning/datasets/basque.csv"
basque = pd.read_csv(fp, index_col=0)

In [11]:
basque.head()

,regionno,regionname,year,gdpcap,sec.agriculture,sec.energy,sec.industry,sec.construction,sec.services.venta,sec.services.nonventa,school.illit,school.prim,school.med,school.high,school.post.high,popdens,invest
1,1,Spain (Espana),1955,2.354542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Spain (Espana),1956,2.480149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Spain (Espana),1957,2.603613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Spain (Espana),1958,2.637104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,Spain (Espana),1959,2.669880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

AttributeError: module 'statsmodels.tsa' has no attribute 'arima_process'